/* Esconde elementos visualmente, mas mantém acessíveis para leitores de tela */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

/* Ajusta o tamanho do checkbox "marcar tudo" */
.toggle-all {
  width: 40px;
  height: 60px;
  right: auto;
}

/* Impede que o texto do label "toggle all" seja clicável */
.toggle-all-label {
  pointer-events: none;
}
